<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-886">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">our services</span>
      <h2 class="cs-title">
        Custom Signs & Printing Services in McAllen, Texas
      </h2>
      <p class="cs-text">
        SignBrite provides high-quality signage and printing services in
        McAllen, Texas. From custom signs and vehicle wraps to banners, LED
        signs, and business cards, we create durable, eye-catching designs that
        help businesses stand out. Contact us today for expert signage
        solutions!
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Custom Signs</h3>
          <p class="cs-item-p">
            Storefront signs, channel letters, monument signs, and more.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/custom-signs.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/custom-signs.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/custom-signs.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Vehicle Wraps</h3>
          <p class="cs-item-p">
            Transform cars, trucks, and fleets into moving advertisements.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/vehicle-wraps.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/vehicle-wraps.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/vehicle-wraps.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Banners & Graphics</h3>
          <p class="cs-item-p">
            High-quality prints for promotions and events.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/bnners-graphics.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/bnners-graphics.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/bnners-graphics.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Window & Wall Graphics</h3>
          <p class="cs-item-p">
            Create stunning indoor and outdoor visual displays.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/window-wall-graphics.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/window-wall-graphics.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/window-wall-graphics.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Printed Materials</h3>
          <p class="cs-item-p">
            Flyers, business cards, postcards, and more to support your
            marketing efforts.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/printed-materials.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/printed-materials.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/printed-materials.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">LED Lighted Signs</h3>
          <p class="cs-item-p">
            Stand out day and night with bright, durable signage.
          </p>
          <!--Backgorund Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/led-lighted-signs.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                /home/ayvar/projects/signbrite/src/assets/img/led-lighted-signs.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="/home/ayvar/projects/signbrite/src/assets/img/led-lighted-signs.jpg"
              alt="person"
              width="1280"
              height="568"
            />
          </picture>
        </a>
      </li>
    </ul>
    <!-- <a href="" class="cs-button-solid">See All our Equipment</a> -->
  </div>
  <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
  <svg
    class="cs-wave"
    width="1920"
    height="179"
    viewBox="0 0 1920 179"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z"
      fill="white"
    />
  </svg>
</section>
