<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1728">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Get a custom design</span>
        <h2 class="cs-title">Graphic Design Services</h2>
      </div>
      <p class="cs-text">
        Need help bringing your vision to life? Our professional graphic design
        services ensure your brand stands out with stunning visuals. Whether you
        need custom logos, marketing materials, or digital graphics, our design
        experts will craft eye-catching designs that make a lasting impact.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Logo Design & Branding</h3>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/logo-design-and-branding.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/logo-design-and-branding.jpg
            "
          />
          <img
            decoding="async"
            src="/home/ayvar/projects/signbrite/src/assets/img/logo-design-and-branding.jpg"
            alt="man exercising in a class"
            width="384"
            height="480"
            aria-hidden="true"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Business Cards & Stationery</h3>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/business-cards-and-stationery.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/business-cards-and-stationery.jpg
            "
          />
          <img
            decoding="async"
            src="/home/ayvar/projects/signbrite/src/assets/img/business-cards-and-stationery.jpg"
            alt="man flexing his muscles in a gym"
            width="384"
            height="480"
            aria-hidden="true"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Flyers, Brochures, & Postcards</h3>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/flyers-brochures-and-postcards.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/flyers-brochures-and-postcards.jpg
            "
          />
          <img
            decoding="async"
            src="/home/ayvar/projects/signbrite/src/assets/img/flyers-brochures-and-postcards.jpg"
            alt="man lifting weights in a gym"
            width="384"
            height="480"
            aria-hidden="true"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Large Format Banners</h3>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/large-format-banners.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/large-format-banners.jpg
            "
          />
          <img
            decoding="async"
            src="/home/ayvar/projects/signbrite/src/assets/img/large-format-banners.jpg"
            alt="woman doing yoga"
            width="384"
            height="480"
            aria-hidden="true"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <h3 class="cs-h3">Custom Signage Design</h3>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/custom-signage-design.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              /home/ayvar/projects/signbrite/src/assets/img/custom-signage-design.jpg
            "
          />
          <img
            decoding="async"
            src="/home/ayvar/projects/signbrite/src/assets/img/custom-signage-design.jpg"
            alt="man cycling on a bike"
            width="384"
            height="480"
            aria-hidden="true"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
