<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">What Our Customers Are Saying ⭐⭐⭐⭐⭐</h2>
      <p class="cs-text">
        At SignBrite, we take pride in delivering top-quality signage and
        printing solutions with exceptional service. But don’t just take our
        word for it—see what our satisfied customers have to say!
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_leslie-de-leon.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Leslie De Leon
            <span class="cs-job">Abolengo Properties</span>
          </span>
        </div>
        <p class="cs-review">
          Great Customer Service, Steven even delivered the product to my
          office. Quality is amazing and good prices!!! Will definitely be
          giving him all my marketing business.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_clemente-gonzalez.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Clemente Gonzalez
            <span class="cs-job">Bellissimo Builders</span>
          </span>
        </div>
        <p class="cs-review">
          Just had a custom banner designed and printed for my business by them.
          I'd highly recommend them for any banners or signs , the quality is
          excellent and turn around time was quick!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_lori-ortiz.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Lori Ortiz
            <span class="cs-job">Client</span>
          </span>
        </div>
        <p class="cs-review">
          He did everything we wanted. Very patient. Great experience getting my
          banner, flyers, and window wrap.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
    </ul>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_mario-salinas.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Mario Salinas
            <span class="cs-job">Client</span>
          </span>
        </div>
        <p class="cs-review">
          Great service and very helpful and creative staff tgat helped get
          great business cards and it was very affordable thanks for your
          service
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_diana-vega.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Diana Vega
            <span class="cs-job">Client</span>
          </span>
        </div>
        <p class="cs-review">
          It was the best service, I had my banner the same day🙌❤. Super fast
          and patient😊
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/home/ayvar/projects/signbrite/src/assets/img/reviews_tania-sanchez.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Tania Sanchez
            <span class="cs-job">Little Explorers Academy</span>
          </span>
        </div>
        <p class="cs-review"></p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google</span>
      </li>
    </ul>
  </div>
  <!--Top Left Quote-->
  <img
    class="cs-quote1"
    aria-hidden="true"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
  <!--Top Right Quote-->
  <img
    class="cs-quote2"
    aria-hidden="true"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2FQuote.svg"
    decoding="async"
    alt="quote icon"
    width="194"
    height="160"
  />
</section>
