*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
}

:root {
  font-family: "Roboto", sans-serif;

  --ff-body: "", sans-serif;
  --ff-heading: "", sans-serif;

  --clr-primary-400: hsl(60 100% 50%);
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);

  --gs-900: #323232;
  --gs-700: #4a4a4a;
  --gs-500: #8a8a8a;
  --gs-300: #d7d7d7;
  --gs-150: #f1f1f1;
  --gs-100: #fafafa;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-400: 1rem;

  --section-padding: 10rem;

  /* ------------------------------- CODE STITCH ------------------------------ */

  --primary: #ffc513;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                         CODE STITCH UTILITY STYLES                         */
/* -------------------------------------------------------------------------- */

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

/* -------------------------------------------------------------------------- */
/*                              MY UTILITY STYLES                             */
/* -------------------------------------------------------------------------- */

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.row {
  /* flex container, parent */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.col {
  /* child */
  width: 100%;
}

.crop-to-fit {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
