    h1
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1565">
  <div class="cs-container">
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="
          /home/ayvar/projects/signbrite/src/assets/img/guarantee_storefront.jpg
        "
      />
      <source
        media="(min-width: 601px)"
        srcset="
          /home/ayvar/projects/signbrite/src/assets/img/guarantee_storefront.jpg
        "
      />
      <img
        loading="lazy"
        decoding="async"
        src="/home/ayvar/projects/signbrite/src/assets/img/guarantee_storefront.jpg"
        alt="model"
        width="586"
        height="752"
        aria-hidden="true"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">SIGNBRITE GUARANTEE</span>
      <h2 class="cs-title">Stand Out. <br />Get Noticed.</h2>
      <p class="cs-text">
        Hi, I’m Steven Ayvar, the owner and founder of SignBrite. I built this
        company with one goal in mind—helping businesses stand out and succeed
        with high-quality signage and printing. With years of experience, I take
        pride in delivering top-tier craftsmanship, honest service, and real
        results for my clients. When you work with SignBrite, you’re not just
        another order—you’re a valued partner, and I personally ensure every
        project meets the highest standards.
      </p>
      <p class="cs-text">
        Have a project in mind? Let’s talk! Fill out the contact form below, and
        I’ll personally make sure you get the best solution for your business.
      </p>
  </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<div id="logos-1565">
  <div class="cs-container">
    <span class="cs-header">Businesses That Trust Signbrite</span>
    <div class="cs-logo-group">
      <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="/home/ayvar/projects/signbrite/src/assets/img/texaair.png"
          alt="logo"
          width="287"
          height="65"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="/home/ayvar/projects/signbrite/src/assets/img/bellissimo.png"
          alt="logo"
          width="229"
          height="55"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="/home/ayvar/projects/signbrite/src/assets/img/subway.png"
          alt="logo"
          width="235"
          height="53"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="/home/ayvar/projects/signbrite/src/assets/img/prodigy-center.png"
          alt="logo"
          width="228"
          height="61"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="/home/ayvar/projects/signbrite/src/assets/img/true-builders.png"
          alt="logo"
          width="228"
          height="61"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </div>
  <!-- Background Graphic -->
  <picture class="cs-background">
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg"
      alt="waves"
      width="1920"
      height="300"
      aria-hidden="true"
      loading="lazy"
      decoding="async"
    />
  </picture>
</div>
