<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1461">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/case-study_pylon-sign.png
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/case-study_pylon-sign.png
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/case-study_pylon-sign.png"
          alt="turbine"
          width="500"
          height="729"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/case-study_channel-letters.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/case-study_channel-letters.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/case-study_channel-letters.jpg"
          alt="windmill"
          width="378"
          height="460"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">CASE STUDY</span>
      <h2 class="cs-title">
        Transforming Surfing Crab with Bold, Eye-Catching Signage
      </h2>
      <p class="cs-text">
        Surfing Crab, is a popular seafood restaurant in McAllen, Texas, that
        neded a bold and inviting storefront sign to attract new customers and
        enhance its brand presence. They turned to SignBrite for a **custom
        signage solution** that would stand out both day and night.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          - A **striking new storefront sign** that draws attention both day and
          night.
        </li>
        <li class="cs-li">
          - **Increased foot traffic** thanks to improved visibility.
        </li>
        <li class="cs-li">
          - A **seamless installation process**, with before-and-after photos
          showcasing the transformation.
        </li>
      </ul>
      <a href="" class="cs-button-solid">Discover More</a>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
        /home/ayvar/projects/signbrite/src/assets/img/case-study_background-img.jpg
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="
        /home/ayvar/projects/signbrite/src/assets/img/case-study_background-img.jpg
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="/home/ayvar/projects/signbrite/src/assets/img/case-study_background-img.jpg"
      alt="turbine"
      width="1280"
      height="568"
    />
  </picture>
</section>
