<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1255">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Top Left -->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/la-cantera.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/la-cantera.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/la-cantera.jpg"
          alt="building"
          width="203"
          height="203"
        />
      </picture>
      <!-- Top Middle  -->
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/aj-ballroom.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/aj-ballroom.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/aj-ballroom.jpg"
          alt="building"
          width="207"
          height="207"
        />
      </picture>
      <!-- Top Right -->
      <picture class="cs-picture cs-picture3">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/daycare.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/daycare.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/daycare.jpg"
          alt="building"
          width="214"
          height="214"
        />
      </picture>
      <picture class="cs-picture cs-picture4">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/little-explorers.jpg
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/little-explorers.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/little-explorers.jpg"
          alt="building"
          width="223"
          height="223"
        />
      </picture>
      <picture class="cs-picture cs-picture5">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/surfing-crab.jpg
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/surfing-crab.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/surfing-crab.jpg"
          alt="building"
          width="287"
          height="287"
        />
      </picture>
      <picture class="cs-picture cs-picture6">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/salad-master.jpg
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/salad-master.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/salad-master.jpg"
          alt="building"
          width="203"
          height="203"
        />
      </picture>
      <picture class="cs-picture cs-picture7">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/therapy-perf.jpg
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            /home/ayvar/projects/signbrite/src/assets/img/therapy-perf.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/therapy-perf.jpg"
          alt="building"
          width="204"
          height="204"
        />
      </picture>
      <picture class="cs-picture cs-picture8">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/fujiyamaa.jpg"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/home/ayvar/projects/signbrite/src/assets/img/fujiyamaa.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/home/ayvar/projects/signbrite/src/assets/img/fujiyamaa.jpg"
          alt="building"
          width="223"
          height="223"
        />
      </picture>
      <!--Stripe background-->
      <!-- <picture class="cs-waves-wrapper">
        <img
          class="cs-waves"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/svg-waves.svg"
          alt="stripes"
          width="650"
          height="933"
          aria-hidden="true"
        />
      </picture> -->
    </div>
    <div class="cs-content">
      <span class="cs-topper">WHY CHOOSE US</span>
      <h2 class="cs-title">Bright Signs, Lasting Impressions</h2>
      <p class="cs-text">
        At SignBrite, we are passionate about creating signage solutions that
        help businesses connect with their audience. With years of experience in
        the industry, we combine creativity, innovation, and high-quality
        materials to produce durable and visually striking signage. Our team is
        dedicated to providing exceptional service, from concept to
        installation, ensuring that your brand shines bright in any setting.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-li-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg"
            alt="icon"
            width="24"
            height="24"
            aria-hidden="true"
          />
          Expert Craftsmanship – Quality signs made by skilled professionals.
        </li>
        <li class="cs-li">
          <img
            class="cs-li-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg"
            alt="icon"
            width="24"
            height="24"
            aria-hidden="true"
          />
          Custom Solutions – Designed to fit your unique brand needs.
        </li>
        <li class="cs-li">
          <img
            class="cs-li-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg"
            alt="icon"
            width="24"
            height="24"
            aria-hidden="true"
          />
          Durability & Reliability – Built to last with top-tier materials.
        </li>
        <li class="cs-li">
          <img
            class="cs-li-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg"
            alt="icon"
            width="24"
            height="24"
            aria-hidden="true"
          />
          Outstanding Customer Service – From design to installation, we support
          you every step of the way.
        </li>
      </ul>
      <a href="" class="cs-button-solid">Learn More</a>
    </div>
  </div>
</section>
